.blue-section {
    background-color: blue;
}

.black-section {
    color: white;
    background-color: rgb(28, 28, 28);
    height: 80px;
    font-weight: bold;
}

.blue-section{
    display: flex;
    color: white;
}
.footer-links {
    display: flex;
    list-style: none;
    gap: 20px;
}