body {
    font-family: 'Open Sans', sans-serif;
}

.blue-section {
    background-color: blue;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.black-section {
    color: white;
    background-color: rgb(28, 28, 28);
    height: 80px;
    font-weight: bold;

}

.blue-section {
    display: flex;
    color: white;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.social-container {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;

}

.footer-container {
    min-height: 350px;

    background-image:
        url('/dc-comics-1/img/dc-logo-bg.png'),
        url('/dc-comics-1/img/footer-bg.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: left 80% center, center;
    background-size: 500px, cover;
    display: flex;
    align-items: center;
}

.background-main {
    background-image: url('/dc-comics-1/img/jumbotron.jpg');
    height: 450px;
    background-color: black;
}

.cards-container {
    margin: 0 auto;
    background-color: black;
    padding: 50px;

}

.wrapper {
    
    width: 80%;
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.comic-card {
    width: calc((100% - 150px) / 6);

}

.comic-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
    display: block;
}

.comic-card h3 {
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;

}


.footer-column h3 {
    color: white;

}

.footer-column li {
    color: white;
    opacity: 50%;
}